.blogs-wrapper-all {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: stretch;

  .blog-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--firstCardColor);

    .img-blog {
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-bottom: 1px solid #ddd;
        border-radius: 8px 8px 0 0;
      }
    }

    .text-blog {
      font-family: Poppins;
      padding: 15px;
      flex-grow: 1;

      h4 {
        margin: 0;
        font-size: 15px;
        letter-spacing: 5px;
        font-weight: 400;
      }

      h3 {
        margin: 10px 0;
        font-size: 18px;
        font-weight: 500; 
      }

      p {
        font-size: 14px;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    
    .blog-card {
      width: 100%;
    }
  }
}
