// use css custom properties instead of sass variables
:root{
  --backgroundColor: #FCFDFA;
  --bannerColor: #AFEDC5;
  --menuColor: #7EC49D;
  --linksText-color: #1A4531;
  --bannerTextColor: #469A7D;
  --buttonColor:  #EBB044;
  --sectionContentColor: #459D75;
  --firstCardColor: #FFF9EF;
  --secondCardColor: #CBFFDD;
  --thirdCardColor: #F0F4F8;
  --blackTextColor : #0A0000;
}