//@import "custom-grid";
@import "abstracts";
@import "layout";
@import "sections";

*, *:before, *:after {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: var(--backgroundColor);
}